#![enable(implicit_some)]
/*!
    @import /amethyst_assets/src/prefab/mod.rs#Prefab
    @import ../src/assets.rs#SpriteEntityPrefabData
    Prefab<SpriteEntityPrefabData>
*/

/*
PLAYER
*/
Prefab(
    entities: [
        PrefabEntity(
            data: SpriteEntityPrefabData(
                sprite_scene: (
                    sheet: Sheet(
                        texture: File("Master.png", (
                            "IMAGE", (
                                sampler_info: (
                                    min_filter: Nearest,
                                    mag_filter: Nearest,
                                    mip_filter: Nearest,
                                    wrap_mode: (Tile, Tile, Tile),
                                    lod_bias: (0),
                                    lod_range: (
                                        start: ( 0 ),
                                        end: ( 8000 ),
                                    ),
                                    comparison: None,
                                    border: (0),
                                    anisotropic: Off,
				                    normalized: true,
                                ),
                            ),
                        )),
                        sprites: [
                            List((
                                    texture_width: 256,
                                    texture_height: 256,
                                    sprites: [
                                        (x: 0, y: 32, width: 32, height: 32)
                                    ],
                            )),
                        ],
                        name: "drops",
                    ),
                    // SpriteRenderPrefab
                    render: (
                        sheet: "drops",
                        sprite_number: 0,
                    ),
                ),
                // AnimationSetPrefab
                animation_set: (
                    animations: [
                        (
                            Idle,
                            (
                                samplers: [
                                    (
                                        0,
                                        SpriteIndex,
                                        (
                                            input: [0.0, 1.0],
                                            output: [0, 0],
                                            function: Step,
                                        )
                                    ),
                                ],
                            )
                        ),
                    ],
                ),
            ),
        ),
    ],
)
