#![enable(implicit_some)]
Container(
    transform: (
        id: "hud",
        anchor: TopMiddle,
        stretch: X( x_margin: 0.0 ),

        y: -60.,
        z: 1.0,

        height: 120.0,
    ),
    background: SolidColor(0.6, 0.6, 1.0, 0.8),
    children: [
    ]
)
