#![enable(implicit_some)]
/*!
    @import /amethyst_assets/src/prefab/mod.rs#Prefab
    @import ../src/assets.rs#SpriteEntityPrefabData
    Prefab<SpriteEntityPrefabData>
*/

/*
PLAYER
*/
Prefab(
    entities: [
        PrefabEntity(
            data: SpriteEntityPrefabData(
                sprite_scene: (
                    sheet: Sheet(
                        texture: File("Master.png", (
                            "IMAGE", (
                                sampler_info: (
                                    min_filter: Nearest,
                                    mag_filter: Nearest,
                                    mip_filter: Nearest,
                                    wrap_mode: (Tile, Tile, Tile),
                                    lod_bias: (0),
                                    lod_range: (
                                        start: ( 0 ),
                                        end: ( 8000 ),
                                    ),
                                    comparison: None,
                                    border: (0),
                                    anisotropic: Off,
				                    normalized: true,
                                ),
                            ),
                        )),
                        sprites: [
                            Grid((
                                    texture_width: 256,
                                    texture_height: 256,
                                    columns: 8,
                                    rows: 1,
                                    cell_size: (32, 32),
                                    position: (0, 0),
                            )),
                        ],
                        name: "player",
                    ),
                    // SpriteRenderPrefab
                    render: (
                        sheet: "player",
                        sprite_number: 0,
                    ),
                ),
                // AnimationSetPrefab
                animation_set: (
                    animations: [
                        (
                            Idle,
                            (
                                samplers: [
                                    (
                                        0,
                                        SpriteIndex,
                                        (
                                            input: [0.0, 1.0],
                                            output: [0, 1],
                                            function: Step,
                                        )
                                    ),
                                ],
                            )
                        ),
                        (
                            Move,
                            (
                                samplers: [
                                    (
                                        0,
                                        SpriteIndex,
                                        (
                                            input: [0.0, 0.1, 0.2],
                                            output: [0, 1, 0],
                                            function: Step,
                                        )
                                    ),
                                ],
                            )
                        ),
                        (
                            Jump,
                            (
                                samplers: [
                                    (
                                        0,
                                        SpriteIndex,
                                        (
                                            input: [0.0, 0.06666, 0.13333],
                                            output: [0, 1, 2],
                                            function: Step,
                                        )
                                    ),
                                ],
                            )
                        ),
                        (
                            Land,
                            (
                                samplers: [
                                    (
                                        0,
                                        SpriteIndex,
                                        (
                                            input: [0.0, 0.06666, 0.13333],
                                            output: [3, 1, 0],
                                            function: Step,
                                        )
                                    ),
                                ],
                            )
                        ),
                        (
                            Die,
                            (
                                samplers: [
                                    (
                                        0,
                                        SpriteIndex,
                                        (
                                            input: [0.0, 0.1, 0.2],
                                            output: [4, 5, 6],
                                            function: Step,
                                        )
                                    ),
                                ],
                            )
                        ),
                        (
                            Hit,
                            (
                                samplers: [
                                    (
                                        0,
                                        SpriteIndex,
                                        (
                                            input: [0.0, 0.1, 0.2],
                                            output: [0, 4, 0],
                                            function: Step,
                                        )
                                    ),
                                ],
                            )
                        ),
                    ],
                ),
            ),
        ),
    ],
)
